<footer class="top">
	<img src="/assets/img/logo.png" class="logoFooter" title="logo" alt="logo">
	<div class="links">
		<div class="links-column">
			<h6>Ma p'tite boite</h6>
			<p>
				1 place du Capitole</p>
			<p>31000 Toulouse</p>
			<p>
				06 00 00 00 00</p>
			<p>contact@domain.tld</p>
		</div>
		<div class="links-column">
			<h6>Suivez-nous sur les réseaux !</h6>
			<div class="social">
				<a href="https://www.linkedin.com/" class="socialbtn" aria-label="Suivez nous sur Linkedin">
					<i class="fa-brands fa-linkedin fa-2xl" style="color: #436198;"></i>
				</a>
				<a href="https://www.facebook.com/" class="socialbtn" aria-label="Suivez nous sur Linkedin">
					<i class="fa-brands fa-facebook fa-2xl" style="color: #436198;"></i>
				</a>
				<a href="https://www.twitter.com/" class="socialbtn" aria-label="Suivez nous sur Linkedin">
					<i class="fa-brands fa-twitter fa-2xl" style="color: #436198;"></i>
				</a>
				<a href="https://www.instagram.com/" class="socialbtn" aria-label="Suivez nous sur Linkedin">
					<i class="fa-brands fa-instagram fa-2xl" style="color: #436198;"></i>
				</a>
			</div>
		</div>
	</div>
</footer>

<footer class="bottom">
	<p>© 2014-{{ "now"|date('Y') }} - Tous droits réservés</p>
	<div class="legal">
		<a type="button">Mentions légales</a>
		<a type="button">Politique de protection des données</a>
		<a type="button">Conditions générales d'utilisation</a>
		<div class="link-user">
					<a href="/admin" class="user">
						<i class="fa-solid fa-user-lock"></i>Administration</a>
				</div>
	</div>
</footer>
