<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="/assets/img/logo.png" class="img-fluid" style="max-width:30%; height:auto;" />
                </div>
            </a>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_account') }}">
                    <i class="fa-solid fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_posts_account_index') }}">
                    <i class="fa-solid fa-fw fa-blog"></i>
                    <span>Mes posts</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_users_account_edit') }}">
                    <i class="fa-solid fa-user"></i> 
                    <span>Mon profil</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="#" id="deleteAccount">
                    <i class="fa-solid fa-trash-alt"></i> 
                    <span>Supprimer mon compte</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">
                    <i class="fa-solid fa-right-from-bracket"></i> 
                    <span>Déconnexion</span>
                </a>
            </li>

            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 mt-3" id="sidebarToggle"></button>
            </li>

        </ul>
    <!-- End of Sidebar -->