<form method="post" action="{{ path('app_posts_account_delete', {'id': post.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger btn-xl _deleteBtn">Supprimer ce post</button>
</form>
