<form method="post" action="{{ path('app_users_account_delete', {'id': app.user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn" id="AccountDeleteBtn">Delete</button>
</form>
